body{
    background-image: url('../img/desktop-wallpaper-textured-black-spade-ace-of-spades-iphone-thumbnail.jpg');
    background-size: auto;
    background-repeat: repeat-x;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
  
}
h1{
    text-shadow: 5px black;
    margin-top: 5px;
    background-color: rgb(1, 105, 1);
    padding-top: 10px;
    padding-bottom: 10px;
}
button{
    margin-top: 200px;
    border: none;
    border-radius: 2.5px;
    background-color: rgb(65, 128, 3);
    color: whitesmoke;
    font-weight: bold;
    margin-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}
p{
    font-weight: bolder;
    font-size: 2rem;
    color: whitesmoke;
}












